body {
	margin: 25px;
}

h1 {
	color: #FF8C00;
	font-size: 24px;
}


div.css3-border {
	border: 2px solid #00FF00;
	padding: 10px 40px;
	margin: 10px;
	width: 300px;
	/* CSS3的圆角边框 */
	border-radius: 15px;
	/* CSS3盒子阴影 */
	box-shadow: 10px 10px 15px #00FF00;
	/* CSS3边界图片 */
	border-image: url(../img/border.png) 30 30 round;
	-moz-border-image: url(../img/border.jpg) 30 30 round;
}

p#rcorners1 {
	width: 300px;
	height: 300px;
	border-radius: 10px 25px 40px 55px;
	padding: 30px;
	background-color: #4CAF50;
}

p#rcorners2 {
	border-radius: 25px;
	width: 300px;
	padding: 30px;
	height: 300px;
	border-radius: 70px 85px 100px 115px;
	border: 2px solid #00BFFF;
}

p#rcorners3 {
	border-radius: 25px;
	background: url(../img/demo4.jpg);
	background-position: left top;
	background-repeat: repeat;
	padding: 40px;
	width: 300px;
	border-radius: 130px 145px 160px 175px;
	height: 300px;
}

#example1 {
	background: url(../img/bg.jpg) right bottom no-repeat, url(../img/demo1.jpg) left top repeat;
	padding: 15px;
}

div.more_picture {
	background-image: url(../img/bg.jpg), url(../img/demo3.jpg);
	background-position: right bottom, left top;
	background-repeat: no-repeat, repeat;
	padding: 15px;
}

div.liner_grad {
	height: 200px;
	background: linear-gradient(blue, red, yellow);
	background: -webkit-linear-gradient(blue, red, yellow);
	background: -moz-linear-gradient(blue, red, yellow);
}

div.liner_grad span {
	color: white;
	font-size: 24px;
}

div.radial_grad {
	height: 200px;
	background: radial-gradient(blue, red, yellow);
	background: -webkit-radial-gradient(blue, red, yellow);
	background: -moz-radial-gradient(blue, red, yellow);
}

div.radial_grad span {
	color: white;
	font-size: 24px;
}

span.txt_shodow {
	font-size: 24px;
	color: #555555;
	text-shadow: 5px 5px 5px #FF00FF;
}

span.box_shodow {
	width: 300px;
	height: 100px;
	background-color: yellow;
	box-shadow: 10px 10px 5px #888888;
}

div.card {
	width: 250px;
	text-align: center;
	margin: 40px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.header {
	background-color: #00FF00;
	color: white;
	font-size: 40px;
	padding: 10px;
}

div.container {
	text-align: center;
	padding: 25px;
}

@font-face {
	font-family: myCustromFonts;
	src: url(../fonts/harlowsi.ttf);
}

div.custormZiti {
	font-family: myCustromFonts;
	font-size: 24px;
}

div.rotate_css {
	width: 100px;
	height: 100px;
	background-color: #00BFFF;
	margin: 30px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
}

div.rotate_css:hover {
	transform: rotate(180deg);
}

div.translate_css {
	width: 100px;
	height: 100px;
	margin: 30px;
	background-color: #00BFFF;
	transform: translate(100px, 0);
}

div.scale_css {
	width: 100px;
	height: 100px;
	margin: 30px;
	margin: 120px;
	background-color: #00BFFF;
	transform: scale(2, 3);
}

div.skew_css {
	width: 300px;
	height: 300px;
	background-color: #00FF00;
	margin: 100px;
	transform: skew(10deg, 10deg);
}

div.matrix_css {
	width: 500px;
	height: 500px;
	background-color: #4CAF50;
	margin: 100px;
	transform: matrix(0.866, 0.5, -0.5, 0.866, 0, 0);
}

div.css3_3d_rotateX {
	width: 300px;
	height: 300px;
	background-color: #5F9EA0;
	transform: rotateX(120deg);
}

div.css3_guodu {
	margin: 100px;
	width: 100px;
	height: 100px;
	background-color: red;
	transition: width 2s, height 2s, transform 2s;
}

div.css3_guodu:hover {
	width: 400px;
	height: 300px;
	transform: rotate(180deg);
}

div.css3_donghua {
	width: 100px;
	height: 100px;
	background-color: #D2691E;
}

div.css3_donghua:hover {
	animation-name: custormDonghua;
	position: relative;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}

@keyframes custormDonghua {
	0% {
		background: red;
		left: 0px;
		top: 0px;
	}

	25% {
		background: yellow;
		left: 200px;
		top: 0px;
	}

	50% {
		background: blue;
		left: 200px;
		top: 200px;
	}

	75% {
		background: gray;
		left: 0px;
		top: 200px;
	}

	100% {
		background: green;
		left: 0px;
		top: 0px;
	}
}

@-webkit-keyframes custormDonghua {
	0% {
		background: red;
		left: 0px;
		top: 0px;
	}

	25% {
		background: yellow;
		left: 200px;
		top: 0px;
	}

	50% {
		background: blue;
		left: 200px;
		top: 200px;
	}

	75% {
		background: gray;
		left: 0px;
		top: 200px;
	}

	100% {
		background: green;
		left: 0px;
		top: 0px;
	}
}

div.clonum_count {
	column-count: 4;
	column-gap: 50px;
	column-rule-style: solid;
	column-rule-width: 1px;
	column-rule-color: #00BFFF;
	-webkit-column-rule-color: #0000FF;
	-webkit-column-rule-width: 1px;
	-webkit-column-rule-style: solid;
	-webkit-column-count: 4;
	-webkit-column-gap: 50px;
}

div.css3_screen {
	width: 100px;
	overflow: auto;
	margin-bottom: 100px;
	height: 100px;
	margin-left: 30px;
	background-color: #00FF00;
	border: 2px solid #555555;
	padding: 10px;
	resize: both;
}

div.contanise {
	width: 30em;
	margin-left: 100px;
	border: 1em solid #000000;
	background-color: #000000;
}

div.box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
	border: 1em solid red;
	float: left;
}

div.css3_outline_border {
	margin: 50px;
	width: 100px;
	height: 100px;
	background-color: #00BFFF;
	border: 2px solid #5F9EA0;
	outline: 2px solid red;
	outline-offset: 15px;
}

.css3_picture {
	max-width: 100%;
	height: auto;
	opacity: 0.5;
	-webkit-opacity: 0.5;
}

.css3_picture_link {
	border: 1px solid gray;
	display: inline-block;
	padding: 10px;
	position: relative;
	transition: 0.5s;
}

a.css3_picture_link:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.topleft {
	position: absolute;
	top: 20px;
	left: 20px;
}

div.topright {
	position: absolute;
	top: 20px;
	right: 20px;
}

div.bottomleft {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

div.bottomright {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

div.center {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

div.contanise4image {
	width: 80%;
	background-color: whitesmoke;
	/* filter: blur(5px);//高斯模糊 */
	/* filter: brightness(60%);//明暗度 */
	/* filter: contrast(30%); //对比度 */
	/* filter: drop-shadow(10px 10px 3px );//设置阴影效果 */
	/* filter: grayscale(100%);//设置灰度效果 */
	/* filter: hue-rotate(90deg);//色相旋转 */
	/* filter: invert(100%);//翻转图片,类似负片 */
	/* filter: opacity(30%); //透明度 */
	/* filter: saturate(30%);//饱和度 */
	/* filter: sepia(75%);//转换成褐色程度 */
	margin: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.contanise4Content {
	text-align: center;
	padding: 10px 20px;
}

/* ---------------------------------------------------- */
div.gallery {
	padding: 0 6px;
	float: left;
	width: 24.999999%;
}

div.gallery_imgs {
	border: 1px solid gray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery_imgs:hover {
	border: 1px solid #000000;
}

div.gallery_imgs img {
	width: 100%;
	height: auto;
}

div.Content {
	text-align: center;
	padding: 10px;
}

* {
	box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}

button.css3_btn {
	width: 150px;
	height: 100px;
	text-align: center;
	background-color: #4CAF50;
	border: 1px solid #4CAF50;
	border-radius: 5px;
	font-size: 22px;
	color: white;
	display: inline-block;
	/* cursor: not-allowed;//按钮禁用 */
	transition-duration: 0.5s;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

button.css3_btn:hover {
	background-color: white;
	color: #000000;

}

button.css3_btn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

button.css3_btn span:after {
	content: ">>";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

div.css3_fenye_div {
	text-align: center;
}

ul.css3_fenye {
	display: inline-block;
	margin: 0;
	padding: 0;
}

ul.css3_fenye li {
	display: inline;
}

ul.css3_fenye li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color 0.3s;
	border: 1px solid gray;
	margin: 0 4px;
	font-size: 24px;
}

ul.css3_fenye li a:hover {
	background-color: #00FF00;
	color: white;
}

ul.css3_fenye li a.active {
	background-color: #4CAF50;
	color: white;
}

ul.css3_fenye li:first-child a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

ul.css3_fenye li:last-child a {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

ul.css3_fenye li a:hover:not(.active) {
	background-color: #ddd;
}

div.css3_div_size {
	width: 300px;
	height: 100px;
	border: 1px solid red;
}

div.css3_div_size_padding {
	width: 300px;
	height: 100px;
	padding: 10px;
	border: 1px solid red;
}
