html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #d0e4fe;
	/* background: url(../img/bg.jpg) no-repeat; */
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}

h1 {
	color: orange;
}

p {
	font-family: "arial black";
	font-size: 24px;
	color: chocolate;
	text-decoration: underline;
}

#idcss {
	text-align: center;
	color: #FF0000;
	font-family: "arial, helvetica, sans-serif";
	font-size: 24px;
}

.classcss {
	text-align: center;
	color: #FF0000;
	font-family: "franklin gothic book";
	font-size: 24px;
}

label {
	font-size: 32px;
	color: firebrick;
	font-family: "franklin gothic book";
}

#lableBig {
	letter-spacing: 10px;
}

#lablesmall {
	letter-spacing: -10px;
}

div {
	color: darkorange;

}

div.exr {
	direction: rtl;
}

#addWordSpacing {
	word-spacing: 30px;
}

#addtextShadow {
	font-size: 22px;
	text-shadow: 2px 2px fuchsia;
}

#fontstyle {
	font-family: "times new roman"times sans-serif;
}

/* 未访问链接*/
a:link {
	color: #000000;
	background-color: cadetblue;
}

/* 已访问链接 */
a:visited {
	color: #00FF00;
	background-color: chocolate;
}

/* 鼠标移动到链接上 */
a:hover {
	color: #FF00FF;
}

/* 鼠标点击时 */
a:active {
	color: #0000FF;
}

ul.a {
	list-style-type: circle;
}

ul.b {
	list-style-type: square;
}

ol.c {
	list-style-type: upper-roman;
}

ol.d {
	list-style-type: lower-alpha;
}

table {
	border-collapse: initial;
}

table,
th,
td {
	border: 1px cadetblue solid;
}

.custormTable {
	height: 200px;
	width: 100%;
	font-family: "times new roman"times serif;
	text-align: center;
	border-collapse: collapse;
}

.custormTable th {
	background-color: cadetblue;
	font: "arial narrow"times sans-serif;
	color: white;
}

.custormTable tr.alt td {
	color: #5F9EA0;
	background-color: aquamarine;
}

.custormTable caption {
	color: #0000FF;
	caption-side: top;
	margin-bottom: 10px;
}

.boxmodel {
	background-color: #5F9EA0;
	border: 25px solid #00FF00;
	padding: 25px;
	margin: 25px;
}

label {
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}

label.borderStyle1 {
	border: 1px solid black;
}

label.borderStyle2 {
	border-bottom-style: solid;
}

label.borderStyle3 {
	border: 1px solid black;
	border-radius: 10px;
}

label.borderStyle4 {
	background-color: #5F9EA0;
	border-left-width: 22px;
	border-left-style: solid;
	border-left-color: #0000FF;
}

label.none {
	border-style: none;
}

label.dotted {
	border-style: dotted;
}

label.dashed {
	border-style: dashed;
}

label.solid {
	border-style: solid;
}

label.double {
	border-style: double;
}

label.groove {
	border-style: groove;
}

label.ridge {
	border-style: ridge;
}

label.inset {
	border-style: inset;
}

label.outset {
	border-style: outset;
}

label.hidden {
	border-style: hidden;
}

label.outline1 {
	border: 1px solid black;
	outline: #0000FF dotted thick;
}

label.margin {
	border: 1px solid black;
	margin: 25px 10px 10px 5px;
}

label.paddings {
	border: 1px solid black;
	padding: 10px 5px 15px 20px;
}

label.fenzu1,
label.fenzu2,
label.fenzu3 {
	background-color: green;
}

label.qiantao {
	background-color: #00FF00;
}

label.visiblity {
	visibility: hidden;
}

label.display {
	display: none;
}

span.block {
	display: block;
}

span.inline {
	display: inline;
}


label.position_static {
	position: static;
	border: 1px black solid;
}

label.position_fixed {
	top: 90%;
	position: fixed;
	width: 100%;
	border: 1px black solid;
}

label.position_relative {
	position: relative;
	top: 70%;
	left: -20px;
	border: 1px black solid;
}

label.position_absolute {
	top: 75%;
	border: 1px black solid;
}

div.position_sticky {
	position: sticky;
	top: 0;
	background-color: green;
	border: 2px solid #4CAF50;
}
